<mat-toolbar color="primary">
  <span>Time Tracker</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="openMainWindow()">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>

<form class="task-form" fxLayout="row" fxLayoutAlign="center">
  <mat-form-field class="task-input">
    <mat-label>What you gonna do now?</mat-label>
    <input
      [(ngModel)]="doingInput"
      matInput
      placeholder="e.g. Programming"
      (keypress)="onEnter($event)"
      [formControl]="doingFormControl">
    <mat-error *ngIf="doingFormControl.hasError('required')">
      Please input the task you going to do.
    </mat-error>
  </mat-form-field>
</form>

<div fxLayout="column" fxLayoutAlign="center center">
  <h1 class="doing-task">Doing : {{ doing }}</h1>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-icon class="time-icon">schedule</mat-icon>
    <p class="time">
      {{currentTotalMilliseconds | duration}}
    </p>
  </div>
  <div class="control-bar" fxLayout="row" fxLayoutAlign="space-evenly">
    <button 
      *ngIf="isPaused; else pausedButton" 
      mat-mini-fab 
      color="primary"
      (click)="onStart()"
      [disabled]="!doing">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <ng-template #pausedButton>
      <button 
        mat-mini-fab 
        color="primary"
        (click)="onPause()"
        [disabled]="!doing">
        <mat-icon>pause</mat-icon>
      </button>
    </ng-template>
    <button 
      mat-mini-fab 
      color="warn" 
      (click)="onStop()"
      [disabled]="!doing">
      <mat-icon>stop</mat-icon>
    </button>
  </div>
</div>