<form class="task-form" fxLayout="row" fxLayoutAlign="center">
  <mat-form-field class="task-input">
    <mat-label>What you gonna do now?</mat-label>
    <input
      #doingInput
      matInput 
      placeholder="e.g. Programming"
      (keyup.enter)="
        onEnter(doingInput.value); 
        doingInput.value='';"
      [formControl]="doingFormControl">
    <mat-error *ngIf="doingFormControl.hasError('required')">
      Please input the task you going to do.
    </mat-error>
  </mat-form-field>
</form>

<div fxLayout="column" fxLayoutAlign="none center">
  <h1 class="doing-task">Doing: {{ doing }}</h1>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-icon class="time-icon">schedule</mat-icon>
    <p class="time">
      {{currentTotalMilliseconds | duration}}
    </p>
  </div>
  <div *ngIf="doing" class="control-bar" fxLayout="row" fxLayoutAlign="space-evenly">
    <button 
      *ngIf="isPaused; else pausedButton" 
      mat-mini-fab 
      color="primary"
      (click)="onStart()">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <ng-template #pausedButton>
      <button 
        mat-mini-fab 
        color="primary"
        (click)="onPause()">
        <mat-icon>pause</mat-icon>
      </button>
    </ng-template>
    <button 
      mat-mini-fab 
      color="warn" 
      aria-label="Example icon button with a menu icon"
      (click)="onStop()">
      <mat-icon>stop</mat-icon>
    </button>
  </div>
</div>